<div class="panel sidebar-menu">

    <div class="panel-body" style="text-align: center; background-color:#F2F2F2; padding-top:25px; padding-bottom:20px; border-radius: 1%;">
		<img src="https://pbs.twimg.com/profile_images/1066685047426768897/hLwA_D4y_400x400.jpg" 
		width="60%" style="border-radius: 50%;">
		<br/><br /><span style= "font-size:18px"><strong>Cainã Max Couto-Silva</strong></span><br />
		<br /><span>Biólogo, mestre e doutorando em genética e biologia evolutiva na USP.</span><br/><br/>
	<a href = "https://www.linkedin.com/in/cmcouto-silva/" target="_blank"><i class='fab fa-2x fa-linkedin'></i></a>
    <a href = "https://github.com/cmcouto-silva/" target="_blank"><i class='fab fa-2x fa-github'></i></a>
    <a href = "http://facebook.com/cmcoutosilva/" target="_blank"><i class='fab fa-2x fa-facebook'></i></a>
    <a href = "https://www.instagram.com/cmcoutosilva/" target="_blank"><i class='fab fa-2x fa-instagram'></i></a>
    <a href = "https://twitter.com/cmcoutosilva" target="_blank"><i class='fab fa-2x fa-twitter'></i></a>
	</div>
</div>
